label {
  color: #fff;
}

a {
  color: #ff7f50;
}

.row {
  margin: auto;
}

.login-area {
  margin-top: 64px;
  position: relative;
}

.slidearea {
  font-family: sans-serif;
  background: $backgroundcolor;
  margin-top: 50px;
  position: relative;
}

.carousel .item {
  font-size: 14px;
  text-align: center;
}

.loginside {
  font-family: sans-serif;
  background: $backgroundcolor;
  // margin-top: 100px;
  // padding: 10px;
  // position: relative;
}

.box {
  // position: fixed;
  background: #343a40;
  text-align: center;
  color: $textcolorlight;
}

.card-header {
  background-color: $backgroundcolor;
}

.box h1 {
  color: $textcolorlight;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $primarycolor;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: $textcolorlight;
  border-radius: 30px;
  transform: 0.25s;

  &:focus {
    width: 250px;
    border-color: $secondarycolor;
  }
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $secondarycolor;
  padding: 14px 40px;
  outline: none;
  color: $textcolorlight;
  border-radius: 30px;
  transform: 0.25s;
  cursor: pointer;

  &:hover {
    background: $secondarycolor;
  }
}

#login-navbar {
  position: fixed;
  top: 32px;
  margin: auto;
  background-color: $secondarycolor;
  width: 100%;
  z-index: 1;
  color: $textcolorlight;
  a {
    color: $textcolorlight;
  }
}
