.description {
  color: $textcolorlight;
  margin: 10px;
}

.profile-content {
  margin-left: 110px;
  margin-top: 10px;
  margin-right: 10px;
}

.avatarHeader {
  background-color: $primarycolor;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px #242225fa;
}

.profileDescription {
  background-color: $secondarycolor;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px #242225fa;
}

.profile-header {
  width: 100%;
  img {
    margin-top: 10px;
    height: 300px;
    border-radius: 5px;
  }
}

.tables {
  color: $textcolordark;
}

.profile-avatar {
  width: 15%;
  margin: 0 auto;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  img {
    border-radius: 50%;
    width: 160px;
    border: 2px solid white;
  }
}

.profile-content .profile-name {
  margin-top: -80px;
}

.profile-content h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $textcolorlight;
}

.profile-title {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 32px;
  color: $textcolorlight;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
