$primarycolor: #070331;
$secondarycolor: #221e47;

$buttoncolor: #363255;

$errorcolor: #b00020;

$textcolorlight: #fff;
$textcolordark: #000;

$backgroundcolor: #363636;
$bordercolor: #707070;

$headbarcolor: #454264;
$titlebarcolor: #06022b;
$footercolor: #070331;
