<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>One Destiny</title>

  <link rel="stylesheet" href="./../css/fontsawesome/css/all.css">
  <link rel="stylesheet" href="./../css/amigos.css">
  <link rel="stylesheet" href="./../css/titlebar.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./../contents/bootstrap/4.4.1/css/bootstrap.min.css" />

  <!-- Bootstrap Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script>
    let $ = require('jquery');
  </script>
  <script>
    require('popper.js');
  </script>
  <script>
    require('bootstrap');
  </script>

</head>

<body>
  <header id="titlebar">
    <div id="drag-region">
      <div id="window-title">

      </div>
      <div id="window-controls">
        <div class="button" id="min-button">
          <span>&#xE921;</span>
        </div>
        <div class="button" id="max-button">
          <span>&#xE922;</span>
        </div>
        <div class="button" id="restore-button">
          <span>&#xE923;</span>
        </div>
        <div class="button" id="close-button">
          <span>&#xE8BB;</span>
        </div>
      </div>
    </div>
  </header>

  <br>

  <section id="headbar">
    <header>
      <nav class="navbar navbar-expand-md">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <img src="../../assets/imgs/usernav.png" width="45px" height="45px" alt="">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Aventuras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Bibliotecas</a>
            </li>
          </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Amigos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saiko <br> Lvl 01</a>

            </li>
            <li class="nav-item">
              <div>
                <div class="dropdown">
                  <button class="btn btn-blue" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle" src="../../assets/imgs/avatartest.png" width="50px">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="DropdownAvatar">
                    <button class="dropdown-item" type="button"><a href="#"><span
                          style="font-size: 38px; color: white;"><i class="fas fa-bell"></i></span></a></button>
                    <button class="dropdown-item" type="button"><a href="#"><span
                          style="font-size: 38px; color: white;"><i class="fas fa-dollar-sign"></i></span></a></button>
                    <button class="dropdown-item" type="button"><a href="#"><span
                          style="font-size: 38px; color: white;"><i class="fas fa-cog"></i></span></a></button>
                  </div>
                </div>

              </div>

          </ul>
        </div>
      </nav>
    </header>
  </section>
  <section id="centralbar">
    <div class="col-2">
      <div class="sidenav navbar-collapse bg-dark h-100">
        
            <a href="#"><img src="./../../assets/imgs/avatartest2.jpg" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor  </a>
            <a href="#"><img src="./../../assets/imgs/avatartest4.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor  </a>
            <a href="#"><img src="./../../assets/imgs/avatartest3.jpg" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest5.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest6.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest2.jpg" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest4.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest3.jpg" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest5.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest6.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest2.jpg" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor  </a>
            <a href="#"><img src="./../../assets/imgs/avatartest4.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor  </a>
            <a href="#"><img src="./../../assets/imgs/avatartest3.jpg" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest5.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest6.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest2.jpg" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest4.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest3.jpg" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest5.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
            <a href="#"><img src="./../../assets/imgs/avatartest6.png" alt="" class="rounded-circle"
                style="width: 60px; height: 60px"> Etiam est dolor </a>
      </div>
    </div>
  </section>
  <div class="jumbotron jumbotron-fluid" id="atividades">
    <div class="container" id="principal">
      <div class="col-10">

        <div style="float: left; WIDTH: 40%">
          <h5 style="color: #fff;">Amigos de Lotus</h5>
          
          <br>

          <h5 style="color: #fff;">Seus grupos de RPG</h5>
        </div>
        <br>
        <div style="float: right; WIDTH: 60%; margin-top: -3%;">
          <p style="color: #000;;">Vestibulum dignissim dolor urna, at tincidunt eros sagittis eu. Nulla facilisi. Nullam nec accumsan urna. Suspendisse suscipit velit eu laoreet consequat.</p>
        </div>

        <div class="card-deck">
            <div class="card bg-danger">
              <div class="card-body">
              </div>
            </div>

            <div class="card bg-dark">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
              </div>
            </div>

            <div class="card bg-light">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
              </div>
            </div>

            <div class="card bg-primary">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">  
                </div>
            </div>
  
            <div class="card bg-secondary">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                </div>
            </div>

        </div>
        
        <div style="float: left; WIDTH: 40%">
          <h5 style="color: #fff;">Atividade de amigos</h5>
        </div>
        <div style="float: right; WIDTH: 60%">
          <p style="color: #000" >Donec lacinia faucibus gravida. Cras sed ornare nunc. Nunc feugiat tincidunt dolor quis bibendum. Duis blandit, nisi sit amet finibus rutrum, felis justo accumsan est, in tincidunt dui nulla vitae purus.</p>
        </div>
        
        


      </div>

    </div>

  </div>

  


  <script>
    require('../../renderer.js')
  </script>

 <script src="./../js/"></script>

</body>

</html>