<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>One Destiny</title>

    <link rel="stylesheet" href="./../sass/main.css" />
    <link rel="stylesheet" href="./../css/fontsawesome/css/all.css" />
  </head>

  <body>
    <header id="titlebar">
      <div id="drag-region">
        <div id="window-title">
          <span>One Destiny</span>
        </div>
        <div id="window-controls">
          <div class="button" id="min-button">
            <span>&#xE921;</span>
          </div>
          <div class="button" id="max-button">
            <span>&#xE922;</span>
          </div>
          <div class="button" id="restore-button">
            <span>&#xE923;</span>
          </div>
          <div class="button" id="close-button">
            <span>&#xE8BB;</span>
          </div>
        </div>
      </div>
    </header>

    <br />
    <br />

    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm" id="login-navbar">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <img
            src="./../../assets/imgs/favicon.png"
            width="auto"
            height="30px"
          />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </nav>

    <br />
    <br />
    <div class="container-fluid" id="loginarea">
      <div class="row h-100">
        <div class="col-8 slidearea d-block my-auto">
          <div class="row">
            <div class="col-lg">
              <div class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="../../assets/imgs/defaultbg.jpg"
                      class="img-fluid"
                      alt="Noticias"
                    />
                    <div class="carousel-caption">
                      <h3>One Destiny</h3>
                      <p>Coming Soon!</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="../../assets/imgs/defaultbg.jpg"
                      class="img-fluid"
                      alt="Noticias"
                    />
                    <div class="carousel-caption">
                      <h3>One Destiny</h3>
                      <p>Coming Soon!</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="../../assets/imgs/defaultbg.jpg"
                      class="img-fluid"
                      alt="Noticias"
                    />
                    <div class="carousel-caption">
                      <h3>One Destiny</h3>
                      <p>Coming Soon!</p>
                    </div>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 loginside d-block my-auto" id="login">
          <div class="card rounded shadow shadow-sm bg-dark">
            <div class="card-header">
              <h3 class="mb-0 text-center text-light">
                Login
              </h3>
            </div>
            <div class="card-body">
              <form class="box" action="" method="POST">
                <input
                  type="text"
                  name=""
                  placeholder="Username"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder ='Username'"
                />
                <input
                  type="password"
                  name=""
                  placeholder="Password"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder ='Password'"
                />
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="checkbox" />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description small text-light"
                    >Lembrar Senha</span
                  >
                </label>
                <input type="submit" value="Login" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="sticky-footer-login" class="py-4">
      <div class="container-fluid text-center">
        <small>Copyright &copy; One Destiny</small>
      </div>
    </footer>

    <script>
      require("../../renderer.js");
    </script>

    <!-- Bootstrap Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      let $ = require("jquery");
    </script>
    <script>
      require("popper.js");
    </script>
    <script>
      require("bootstrap");
    </script>
  </body>
</html>
