body {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

img-fluid {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

p {
    color: #fff;
}

#loginpage {
    background: #1f2250;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F2250, #383E7A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F2250, #383E7A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newarea {
    float: inline-start;
    border-radius: 15px;
}

#loginarea {
    float: inline-end;
    color: #fff;
    justify-content: center;
}

label {
    color: #fff;
}

a {
    color: #ff7f50;
}

.carousel .item {
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.inputemail {
    font-size: 20px;
    color: #fff;
    line-height: 1;

    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 0 0 60px;
    transition: all 0.4s;

    border-radius: 21px;
}

.inputpass {
    font-size: 20px;
    color: #fff;
    line-height: 1;

    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 0 0 60px;
    transition: all 0.4s;

    border-radius: 21px;
}

