body {
    background-color: #1F2250;
}

#news {
    background-color: #383E7A;
    height: 618px;
    margin-top: 5%;
}

#login {
    background-color: #383E7A;
    height: 618px;
    margin-top: 5%;
}
