body, html {
    height: 100%;
    background-color: #1f2250;
}

.hero-image {
  margin-top: 8px;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: x-large;
  font-style: oblique;
}

footer {
  background-color:  rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  font-style: normal;
  font-size: xx-large;
}