#button1 {
  background-color: $buttoncolor;
  border: 1px solid $buttoncolor;
  border-radius: 50px;
  margin-left: 4px;
  color: $textcolorlight;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  box-shadow: 3px 3px 3px -3px #000;

  &:hover {
    background-color: $primarycolor;
  }
}

#dropdownMenuOffset {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
