#headbar {
  background-color: $headbarcolor;
  z-index: 1;
  border-bottom: 1px solid $secondarycolor;
  position: sticky;
  top: 0;

  ul li a {
    color: #ffffff;
    font-style: cursive;
    font-size: large;

    a:hover {
      color: gray;
    }
  }
}
