/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $backgroundcolor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondarycolor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primarycolor;
}
